# Project exclude paths
/.gradle/
/FtcRobotController/build/
/FtcRobotController/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/TeamCode/build/
/TeamCode/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/